<div *ngIf="aluno">
    <h1>Histórico</h1>
    <hr>
    <p><strong>Aluno: </strong> {{aluno.nome}}</p>
    <p><strong>Coeficiente: </strong> {{coeficiente}}</p>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Turma</th>
            <th scope="col">Ano</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Nota final</th>
            <th scope="col">Situação final</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let nota of notas">
            <td>{{nota.turma.codigo}}</td>
            <td>{{nota.turma.ano}}</td>
            <td>{{nota.disciplina.nome}}</td>
            <td>{{nota.media}}</td>
            <td>{{nota.situacao_final}}</td>
        </tr>
        </tbody>
    </table>
    <p><strong>Coeficiente: </strong> {{coeficiente}}</p>
</div>