<h1>Cadastro de turma</h1>
<div class="alert alert-success" *ngIf="cadastro_ok">
  <strong>Cadastro realizado com sucesso! </strong> <a routerLink="/admin/turmas">Voltar para a lista das turmas</a>
</div>
<div class="alert alert-danger" *ngIf="cadastro_erro">
  <strong>Opa!</strong> Aconteceu um erro ao tentar fazer o cadastro. Aguarde alguns instantes e tente novamente.
</div>
<form #cadastro="ngForm" (submit)="salvar()">
  <div class="form-group">
    <label for="codigo">Código</label>
    <input type="text" name="codigo" id="codigo" class="form-control" [(ngModel)]="codigo" required>
  </div>
  <div class="form-group">
    <label for="ano">Ano</label>
    <input type="number" name="ano" id="ano" class="form-control" [(ngModel)]="ano" required>
  </div>
  <div class="form-group">
    <label for="disciplina">Disciplina</label>
    <select name="disciplina" id="disciplina" class="form-control" [(ngModel)]="disciplina" required>
      <option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">{{disciplina.nome}}</option>
    </select>
  </div>
  <button class="btn btn-primary" [disabled]="!cadastro.valid">Salvar</button>
</form>