.selecionado {
    font-weight: bold;
}

li p:nth-child(1) {
    cursor: pointer;
    font-size: 12pt;
}

li p:nth-child(1):hover {
    font-weight: bold;
}

li p:nth-child(2) {
    font-size: 10pt;
}
