<div class="container">
    <h1>Disciplinas</h1>
    <hr>
    <div *ngIf="excluir_ok" class="alert alert-success">
        <strong>Sucesso!</strong> A disciplina foi excluída com sucesso.
    </div>
    <app-lista-de-disciplinas [disciplinas]="disciplinas" [editando]="editando"
                              (onEditar)="editar($event)" (onExcluir)="excluir($event)">
    </app-lista-de-disciplinas>

    <h2>Cadastrar ou editar</h2>
    <p>Use este formulário para cadastrar ou editar uma disciplina.</p>
    <div *ngIf="salvar_ok" class="alert alert-success">
        <strong>Sucesso!</strong> Os dados da disciplina foram salvos com sucesso.
    </div>
    <app-editor-de-disciplina [disciplina]="editando" (onSalvar)="salvar()" (onCancelar)="cancelar()">
    </app-editor-de-disciplina>
</div>
