<a routerLink="/admin/cadastrar-turma" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar</a>
<h1>Lista de turmas</h1>
<div class="row">
  <div class="col-9">
    <div class="mb-2">
      <form class="form-inline" #formPesquisa="ngForm" (submit)="pesquisar()">
        <div class="col-12 p-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar por..." aria-label="Pesquisar por..." name="q" [(ngModel)]="q">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" width="80">Código</th>
          <th scope="col">Disciplina</th>
          <th scope="col" width="80">Ano</th>
          <th scope="col" width="120">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of turmas">
          <th scope="row">{{turma.codigo}}</th>
          <td>{{turma.disciplina.nome}}</td>
          <td>{{turma.ano}}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="excluir(turma)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-primary btn-sm" (click)="abrir(turma)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <div>
      <h4>Filtrar</h4>
      <h5>Por ano</h5>
      <ul>
        <li>
          <a href="javascript:void(0)" [class.filtro-ativo]="!filtroPorAno" (click)="removerFiltroPorAno()">Todos</a>
        </li>
        <li *ngFor="let ano of anos">
          <a href="javascript:void(0)" [class.filtro-ativo]="filtroPorAno === ano" (click)="filtrarPorAno(ano)">{{ano}}</a>
        </li>
      </ul>
      <h5>Por disciplina</h5>
      <ul>
        <li>
          <a href="javascript:void(0)" [class.filtro-ativo]="!filtroPorDisciplina" (click)="removerFiltroPorDisciplina()">Todas</a>
        </li>
        <li *ngFor="let disciplina of disciplinas">
          <a href="javascript:void(0)" [class.filtro-ativo]="filtroPorDisciplina === disciplina.id" (click)="filtrarPorDisciplina(disciplina.id)">{{disciplina.nome}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>