<table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th>Disciplina</th>
        <th width="200">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let disciplina of disciplinas" [class.table-active]="editando && (editando.id === disciplina.id)">
        <td>
            <i *ngIf="editando && (editando.id === disciplina.id)" class="fa fa-pencil-square"></i> {{disciplina.nome}}
        </td>
        <td>
            <button class="btn btn-sm btn-danger" (click)="excluir(disciplina)">
                <i class="fa fa-trash"></i> Excluir
            </button>
            <button class="btn btn-sm btn-primary" (click)="editar(disciplina)">
                <i class="fa fa-pencil-square"></i> Editar
            </button>
        </td>
    </tr>
    </tbody>
</table>